* {
    background-color: #F9DEC9;
    color: #3A405A;
    font-family: Garamond, serif, Arial;
}

p {
    font-size: large;
}

.title {
    background-color: #99b2dd;
    font-size: x-large;
}

ul, li, a {
    background-color: #e9afa3;
    font-size: large;
}

.header {
    font-weight: 800;
}