* {
    background-color: #c9f2c7;
    color: #243119;
    font-family: Garamond, serif, Arial;
}

p {
    font-size: large;
}

.title {
    box-sizing: content-box;
    background-color: #96be8c;
    font-size: 32px;
    width: 10%;
    margin-left: 45%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

div {
    box-sizing: border-box;
    background-color: #aceca1;
    width: 20%;
    margin-left: 40%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul, li, a {
    font-size: 20px;
    background-color: #aceca1;
}

.header {
    font-weight: 800;
}